Package: mountblv
Version: 1.4
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Depends: perl,libbde-utils,veracrypt
Section: myown
Priority: optional
Description: This package mounts and unmounts bitlocker drives and veracrypt containers.
         Any number of bitlocker drives/vera containers can be mounted/unmounted including all.
